.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: antiquewhite;
  height: 2em;
  margin: auto;
}

body {
  padding: 0;
  margin: 0;
}

.status {
  width: 400px;
  height: 2em;
  margin: auto;
  background-color: darkkhaki;
  padding: 3px;
}

.filter {
  padding: 3px;
  width: 400px;
  height: 10em;
  margin: auto;
  background-color: darkturquoise;
}

main {
  padding: 3px;
  width:  400px;
  height: 100em;
  margin: auto;
  background: white repeating-linear-gradient( 45deg, #EEE, #EEE 5px, #FFF 5px, #FFF 10px )
}

.filter-section {
  position: sticky;
  top: -1px;
}
